body {
	background-color: lightgray;
}

header {
	border: 1px solid black;
}

header ul {
	display: inline-flex;
	list-style: none;
}

header li {
	margin-left: 10px;
}

.disabled {
	color: grey;
}

.active {
	color: yellow;
}

.parent div:first-of-type:first-child {
	color: red;
}

.parent div:nth-of-type(2){
	color: blue;
}

.parent div h4:first-of-type {
	background-color: red;
}

.parent div h4:nth-of-type(2) {
	background-color: blue;
}

.grandparent > h4:first-of-type {
	border: 1px solid black;
	border-radius: 2px;
}

.promo {
	text-decoration: bold;
	color: gold;
}

input:read-write {
	height: 25px;
}