body {
	background-color: lightgray;
}

header {
	border: 1px solid black;
}

header ul {
	display: inline-flex;
	list-style: none;
}

header li {
	margin-left: 10px;
}

.disabled {
	color: grey;
}

.active {
	color: yellow;
}

.parent div:first-of-type:first-child {
	color: red;
}

.parent div:nth-of-type(2){
	color: blue;
}

.parent  {
	background-color: red;
}